a{
    text-decoration: none;
}
.footer{
    color: white;
    text-align: center;
    font-weight: 500;
    background-color: #2E2E2E;
    padding: 10px;
}
.footer span{
    font-size: 1.2rem;
}
h3{
    font-weight: 600;
    margin-bottom: 2rem;
}
.footer i{
color: white;
font-size: 2rem;
}